.container{
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 20px 0px;
  grid-template-areas:
    "header"
    "options"
    "content"
    "footer";
}

.header {
  grid-area: header;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.appTitle {
  display: flex;}

.avatarsSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.sectionOptions {
  grid-area: options;
  display: flex;
}
.sectionOptions fieldset {
  width: 33%;
}

.sectionOptions {
  grid-area: options;
}

.sectionOptions fieldset ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.fsOptionWho ul{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0 0;
}

.sectionScript {
  grid-area: content;
}

.sectionScript ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer{
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: flex-end;
  font-style: italic;
  font-size: 15px;
}