.header {
  display: flex;
}

.appTitle {
  display: flex;}

.avatarsSection {
  display: flex;
  align-items: center;
}


.optionsSection {
  display: flex;
}
.optionsSection fieldset {
  width: 33%;
}

.fieldsetOption {}

.fieldsetOption ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.script {}

.script ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.section {}